Repository rueckstiess/mtools, pull requests merged in 2018-05, with the labels that each got.

#595 Fix #586: mlaunch: queue/Queue import problem
  mtools/mlaunch/mlaunch.py
Labels: bug, mlaunch

#610 Fix #597: Include sys.version in --version output
  mtools/mlaunch/mlaunch.py
  mtools/util/cmdlinetool.py
Labels: util/other

#617 Fix #616: mlogvis: remove write lock and read lock grouping
  mtools/data/index.html
Labels: mlogvis

#621 Report actual error when import fails in mplotqueries.
  mtools/mplotqueries/mplotqueries.py
Labels: improvement, mplotqueries
