Repository rueckstiess/mtools, pull requests merged in 2018-06, with the labels that each got.

#627 Pyflakes and error on missing mongod
  mtools/mlaunch/mlaunch.py
Labels: improvement, mlaunch

#624 Enable passing --nopreallocj to mongod
  mtools/mlaunch/mlaunch.py
Labels: improvement, mlaunch

#625 Add users to all shards in sharded cluster
  mtools/mlaunch/mlaunch.py
Labels: improvement, mlaunch

#626 Add support for GSSAPI
  mtools/mlaunch/mlaunch.py
Labels: improvement, mlaunch

#630 Replace characters that can't be decoded with '?'
  mtools/util/logfile.py
Labels: bug, util/other

#631 Pin requirements to avoid pulling in breaking changes
  requirements.txt
  setup.py
Labels: task

#634 Fixed issue #618
  mtools/test/test_util_logevent.py
  mtools/util/logevent.py
Labels: bug, util/other

#637 Added an exception for 'Scheduled new oplog query' from duration parsing. Fixes #619
  mtools/test/test_util_logevent.py
  mtools/util/logevent.py
Labels: util/other
